
@main("Login") {
    <div class="container col-sm-8 col-sm-offset-2">
        <form class="form-horizontal" id="loginForm" action="@routes.Application.postLogin()" method="post">
            <fieldset>
                <legend>User Login</legend>
                <div class="form-group">
                    <label for="username" class="control-label col-sm-3">Username: </label>
                    <div class="col-sm-9">
                        <input type="text" name="username" id="username"
                               placeholder="Enter Username" class="form-control" />
                </div>
                </div>
                    <div class="form-group">
                        <label for="password" class="control-label col-sm-3">Password: </label>
                        <div class="col-sm-9">
                            <input type="password" name="password" id="password"
                                   placeholder="Enter Password" class="form-control" />
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" name="loginSubmit" value="loginSubmit" id="loginSubmit" class="btn btn-default">
                                Submit</button>
                            <button type="submit" name="loginCancel" value="loginCancel" id="loginCancel" class="btn btn-primary">
                                Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <script>
        $(function () {
            $('#username').focus();
        });
    </script>
}
