@(accessLevel: Int, pageTitle: String)

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            @*<a href="@routes.Application.index()" class="navbar-brand"><img class="oamc-brand" src="@routes.Assets.at("images/oamc_logo.png")" alt="logo" /></a>*@
            <a href="@routes.Application.index()" class="navbar-brand">OAMC</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-links">
            <ul class="nav navbar-nav">
                @if(accessLevel == -1) {
                    <li class="nav @if(pageTitle.contains("palliative")) {active}"><a href="@routes.Application.palliative()">Palliative Care Unit</a></li>
                    <li class="nav @if(pageTitle.contains("children")) {active}"><a href="@routes.Application.children()">Children's Unit</a></li>
                    <li class="nav @if(pageTitle.contains("surgical")) {active}"><a href="@routes.Application.surgery()">Surgical Unit</a></li>
                } else {
                    @if(accessLevel >= 6) {
                        <li class="nav"><a href="">See My Payroll</a></li>
                        <li class="nav @if(pageTitle == "patients") {active}"><a href="@routes.Patients.list(0)">Patient Lookup</a></li>
                        <li class="nav @if(pageTitle == "employees") {active}"><a href="@routes.Employees.list(0)">View Employee Info</a></li>
                        <li class="nav"><a href="">Order Supply</a></li>
                        <li class="nav"><a href="">Schedule Surgeries</a></li>
                    } else {
                        @if(accessLevel >= 5) {
                            <li class="nav"><a href="">See My Payroll</a></li>
                            <li class="nav @if(pageTitle == "patients") {active}"><a href="@routes.Patients.list(0)">Patient Lookup</a></li>
                            <li class="nav @if(pageTitle == "employees") {active}"><a href="@routes.Employees.list(0)">View Employee Info</a></li>
                            <li class="nav"><a href="">Order Supply</a></li>
                            <li class="nav"><a href="">Schedule Surgeries</a></li>
                        } else {
                            @if(accessLevel >= 4) {
                                <li class="nav"><a href="">See My Payroll</a></li>
                                <li class="nav"><a href="">Patient Lookup</a></li>
                            } else {
                                @if(accessLevel >= 0) {
                                    <li class="nav"><a href="">See My Payroll</a></li>
                                }
                            }
                        }
                    }
                }
            </ul>
            <div class="navbar-right">
                @if(helpers.Security.isLoggedIn(ctx())) {
                    <span class="navbar-text">Logged in as @helpers.Security.getUserInfo(ctx())</span>
                    <a href="@routes.Application.logout()" class="navbar-text">Logout</a>
                } else {
                    <a href="@routes.Application.login()" class="navbar-text">Login</a>
                }
            </div>
        </div>
    </div>
</nav>
