
.well {
    font-size: larger;
    padding: 30px;
    margin-top: 50px;
}

#theCarousel img {
    width: 800px;
    height: 380px;
}
/*
body {
    background-image: url("/Assets/images/main_image.jpg");
}
/*
img.oamc-brand {
    height: 80px;
    width: 80px;
}

.navbar-header {
    height: 80px;
}

.nav {
    margin-top: 10px;
    font-size: larger;
}

.navbar-right {
    margin-top: 15px;
    font-size: larger;
}
*/