
@main("Children's Unit") {

    <div class="container col-sm-8 col-sm-offset-2">
        <h1>Children's Unit</h1>

        <div class="row visible-lg visible-md" style="margin-top: 30px; margin-bottom: 30px;">
            @*<div class="carousel slide col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2"*@
            <div class="carousel slide col-sm-10 col-sm-offset-1"
            id="theCarousel" data-interval="3000">

                <ol class="carousel-indicators">
                    <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#theCarousel" data-slide-to="1"></li>
                    <li data-target="#theCarousel" data-slide-to="2"></li>
                    <li data-target="#theCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="@routes.Assets.at("images/children_unit1.jpg")" alt="1" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Story time in our new play area!</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@routes.Assets.at("images/children_unit2.jpg")" alt="2" class="img-responsive">
                        <div class="carousel-caption">
                            <p>A cheerful start to your visit</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@routes.Assets.at("images/children_unit3.jpg")" alt="3" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Healthcare professional who care</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@routes.Assets.at("images/children_unit4.jpg")" alt="4" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Let your imagination take flight in our video game center</p>
                        </div>
                    </div>
                </div>

                <a href="#theCarousel" class="carousel-control left" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a href="#theCarousel" class="carousel-control right" data-slide="next">
                    <span class="icon-next"></span>
                </a>

            </div>
        </div>

        <div class="well">
            <p class="text-justify">
                The OAMC Pediatrics unit was established for the special needs of children
                in the Greater Montreal area and surroundings. Equipped with the latest medical
                technologies, and staffed by empathic healthcare professionals of the highest
                quality, the OAMC Pediatrics unit provides children with the care they deserve.
                This child friendly environment is the right alternative to more stressful adult
                hospital environments. It features colorful paint, a modern play area that is
                constantly supervised, and frequent activities and visits from entertainers and volunteers.
            </p>
        </div>
    </div>

    <script>
        $(function () {
            $("#theCarousel").carousel();
        });
    </script>
}
