
@main("Children's Unit") {

    <div class="container col-sm-8 col-sm-offset-2">
        <h1>Children's Unit</h1>
        <div class="well">
            <p class="text-justify">
                The OAMC Pediatrics unit was established for the special needs of children
                in the Greater Montreal area and surroundings. Equipped with the latest medical
                technologies, and staffed by empathic healthcare professionals of the highest
                quality, the OAMC Pediatrics unit provides children with the care they deserve.
                This child friendly environment is the right alternative to more stressful adult
                hospital environments. It features colorful paint, a modern play area that is
                constantly supervised, and frequent activities and visits from entertainers and volunteers.
            </p>
        </div>
    </div>
}
