@(currentPage: com.avaje.ebean.Page[models.current.Employee], currentSortBy: Int, currentOrder: String)

@link(newPage: Int, newSortBy: Int) = @{
    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != -1) {
        sortBy = newSortBy

        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc")
                order = "desc"
            else
                order = "asc"
        } else
            order = "desc"
    }

    routes.Employees.list(newPage, sortBy, order)
}

@main("Employees") {

    <div class="container">
        <table class="col-sm-12 table table-bordered table-striped table-hovered">
            <thead>
                <tr>
                    <th class="@if(currentSortBy == 1) {warning}"><a href="@link(0, 1)">Employee ID</a></th>
                    <th class="@if(currentSortBy == 2) {warning}"><a href="@link(0, 2)">Last Name</a></th>
                    <th class="@if(currentSortBy == 3) {warning}"><a href="@link(0, 3)">First Name</a></th>
                    <th class="@if(currentSortBy == 4) {warning}"><a href="@link(0, 4)">Hire Date</a></th>
                    <th class="@if(currentSortBy == 5) {warning}"><a href="@link(0, 5)">Years of Experience</a></th>
                    <th class="@if(currentSortBy == 6) {warning}"><a href="@link(0, 6)">Employee Type</a></th>
                </tr>
            </thead>
            <tbody>
                @for(employee <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.Employees.edit(employee.employeeId)">@employee.employeeId</a></td>
                        <td>@employee.lastName</td>
                        <td>@employee.firstName</td>
                        <td>@employee.hireDate</td>
                        <td>@employee.yearsExperience</td>
                        <td>@employee.employeeType.employeeType</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row col-sm-6 col-sm-offset-4">
            <ul class="pagination">
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, -1)">&laquo; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&laquo; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, -1)">Next &raquo;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &raquo;</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}