
@main("Welcome to COMP353OAMC") {

    <div class="container col-sm-8 col-sm-offset-2">
        <h1>Welcome to the Open Access Medical Center!</h1>
        <div class="well">
            <p class="text-justify">
                The OAMC is Montreal's foremost medical care provider, with three specialized units
                covering all patient needs. The surgical unit, palliative care unit and children's
                unit are located on a beautiful urban campus in the heart of Downtown Montreal,
                with direct access to the metro green line and the nearby highway 67. The OAMC has
                deep historic roots in the local Universities, and draws most of its staff from them
                and the local community, as well as some of the finest professionals from around the world.
                It is a bilingual hospital providing full service in both official languages, and stresses
                the provision of empathic, professional, and cutting-edge healthcare to the greater community.
                The OAMC exists to make the health of Montrealers, patients, and employees the best it can be.
            </p>
        </div>
    </div>
}
