
@main("Welcome to COMP353OAMC") {

    <div class="container col-sm-8 col-sm-offset-2">
        <h1>Welcome to the Open Access Medical Center!</h1>

        <div class="row visible-lg visible-md" style="margin-top: 30px; margin-bottom: 30px;">
            @*<div class="carousel slide col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2"*@
            <div class="carousel slide col-sm-10 col-sm-offset-1"
            id="theCarousel" data-interval="2000">

                <ol class="carousel-indicators">
                    <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#theCarousel" data-slide-to="1"></li>
                    <li data-target="#theCarousel" data-slide-to="2"></li>
                    <li data-target="#theCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="@routes.Assets.at("images/homepage1.jpg")" alt="1" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Welcome to the OAMC</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@routes.Assets.at("images/homepage2.jpg")" alt="2" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Healthcare designed for the future</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="@routes.Assets.at("images/homepage3.jpg")" alt="3" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Diversity is our strength</p>
                        </div>
                    </div>
                </div>

                <a href="#theCarousel" class="carousel-control left" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a href="#theCarousel" class="carousel-control right" data-slide="next">
                    <span class="icon-next"></span>
                </a>

            </div>
        </div>

        <div class="well">
            <p class="text-justify">
                The OAMC is Montreal's foremost medical care provider, with three specialized units
                covering all patient needs. The surgical unit, palliative care unit and children's
                unit are located on a beautiful urban campus in the heart of Downtown Montreal,
                with direct access to the metro green line and the nearby highway 67. The OAMC has
                deep historic roots in the local Universities, and draws most of its staff from them
                and the local community, as well as some of the finest professionals from around the world.
                It is a bilingual hospital providing full service in both official languages, and stresses
                the provision of empathic, professional, and cutting-edge healthcare to the greater community.
                The OAMC exists to make the health of Montrealers, patients, and employees the best it can be.
            </p>
        </div>
    </div>
    <script>
        $(function () {
            $("#theCarousel").carousel();
        });
    </script>
}
