
@main("Palliative Care Unit") {

    <div class="container col-sm-8 col-sm-offset-2">
        <h1>Palliative Care Unit</h1>
        <div class="well">
            <p class="text-justify">
                The OAMC palliative care unit is devoted to providing the best medical care for
                patients suffering from serious, long-term illness. Our staff of nurses, doctors,
                and allied health professionals are all highly trained in the latest techniques
                and technologies for the relief of physical and emotional pain. The modern facilities
                provide a restful place for patients to enjoy the highest quality of life with all
                their physical, emotional, social, and spiritual needs met and easy access to their
                friends and loved ones.
            </p>
        </div>
    </div>
}
