
@main("Surgical Unit") {

    <div class="container col-sm-8 col-sm-offset-2">
        <h1>Surgical Unit</h1>
        <div class="well">
            <p class="text-justify">
                The OAMC Surgical unit provides high-risk medical services and operative procedures.
                The surgical teams have the most experience compared to any other surgical unit in
                the province, and the low employee turnover rate means that these teams have been
                working together for years. Our operating rooms were recently modernized, and feature
                all necessary surgical, anaesthetic, and imaging technologies for the most complex
                complex operations, and our recovery facilities are on par with that. Special sanitation
                and infection control protocols are followed to insure that all post-operative risk is minimised.
            </p>
        </div>
    </div>
}
